.nav-fixed {
    background-color: white;
    position: fixed;
    width: 100%;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    position: relative;
    width: 100%;
    height: 100%;
}

.logo > img {
    width: 10rem;
}

.links-and-button-wrapper {
    background-color: rgba(0, 0, 0, 0.775);
    backdrop-filter: blur(1px);
    height: 100vh;
    position: absolute;
    right: 0;
    top: 5rem;
    width: 100%;
}

.links-and-button {
    background-color: white;
    border-radius: 1rem;
    text-align: center;
    margin: 1.5rem;
    padding: 1rem;
}

li {
    padding: 0.5rem 0;
}

li > a {
    color: #434343;
    font-size: 1.25rem;
}

.connect-button {
    background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 0.5rem auto;
    padding: 0.8rem 2rem;
    width: fit-content;
}

.connect-button.desktop {
    display: none;
}

.connect-wallet-form {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.775);
    backdrop-filter: blur(1px);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    right: 50%;
    top: 0;
    transform: translateX(50%);
    width: 100vw;
}

.connect-wallet-wrapper {
    background: #ffffff;
    border-radius: 1rem;
    width: clamp(18.75rem, 40vw, 35rem);
}

.heading {
    border-bottom: 1px solid #cfd8dc;
    color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.heading > img {
    cursor: pointer;
}

.wallets {
    padding: 2rem;
}

.wallets > p {
    padding-bottom: 1rem;
}

.wallet {
    align-items: center;
    border: 1px solid #cfd8dc;
    border-radius: 0.75rem;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 1.5rem;
}

.wallet:first-of-type {
    background: #f8f9fa;
    margin-bottom: 1rem;
}

.wallet-name {
    align-items: center;
    display: flex;
}

.wallet-name > img {
    margin-right: 1rem;
    width: 60%;
}

.display-none,
.display-wallet-none {
    display: none;
}

@media screen and (min-width: 990px) {
    .nav-wrapper {
        padding: 1rem 3rem;
    }

    .links-and-button-wrapper {
        background-color: transparent;
        height: auto;
        position: static;
        width: auto;
    }

    .links-and-button,
    .links ul {
        display: flex;
        align-items: center;
        margin: 0;
    }

    li {
        padding: 0 1rem;
    }

    .hamburger-react {
        display: none;
    }

    .connect-button.desktop {
        display: block;
        margin: 0;
    }

    .connect-button.mobile {
        display: none;
    }

    .display-none {
        display: block;
    }
}

@media screen and (min-width: 1095px) {
    .nav-wrapper {
        padding: 1rem 6.25rem;
    }
}
